.mv-small-text {
    color: $light;
    font: $small-text;
}

.mv-big-title {
    color: $light;
    font: $title;
    text-transform: uppercase;
}

.mv-text {
    color: $shade4;
    font: $text;
}

.mv-text-highlight {
    color: $primary;
    font-weight: 600;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}