@import "./components/music-player";
@import "./components/music-library";
@import "./components/music-controls";

.mv-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}