.trigger {
    display: none;
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    color: $light;
}
.trigger:hover {
    color: $primary;
}
.logo {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $light;
    height: 80px;
    left: 0;
    width: 100%;
    padding: 0px 32px;border-bottom: 1px solid rgba(207, 209, 222, 0.4);
}

.navigation {
    display: flex;
    gap: 8px;
    color: $light;
}

.site-layout .site-layout-background {
    background: transparent;
}

.ant-layout.ant-layout-has-sider {
    height: 100vh;
    overflow: hidden;
}

.mv-layout-header-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ant-layout {
    background: $dark;
}

.ant-layout-sider {
    flex: 0 0 320px  !important;
    max-width: 320px !important;
    min-width: 320px !important;
    width: 320px !important;
    padding: 0px 32px;
    background: $dark;
}

.ant-menu {
    background: transparent;

    .ant-menu-item {
        border-radius: 10px;
        padding: 0px !important;
        color: $light;

        &:hover {
            color: $primary;
            opacity: 0.6;

            .ant-menu-title-content a {
                color: $primary;
            }
        }
    }

    .ant-menu-item-selected {
        background-color: transparent !important;
    }
}

#mv-right-sider {
    display: block;
    border-left: 1px solid rgba(207, 209, 222, 0.4);
    .ant-layout-sider-children {
        padding-top: 104px;
    }
}

#mv-left-sider {
    display: block;
    border-right: 1px solid rgba(207, 209, 222, 0.4);
    .ant-layout-sider-children  {
        padding-top: 104px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#mv-left-sider, #mv-right-sider {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}


.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon+span,
.ant-menu-dark .ant-menu-item-selected .anticon,
.ant-menu-dark .ant-menu-item-selected .anticon+span,
.ant-menu-dark .ant-menu-item-selected>a,
.ant-menu-dark .ant-menu-item-selected>a:hover,
.ant-menu-dark .ant-menu-item-selected>span>a,
.ant-menu-dark .ant-menu-item-selected>span>a:hover {
    color: $primary;
}

.ant-layout-header {
    height: 80px;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.site-layout {
    overflow: auto;
    position: relative;
}

.ant-menu-item-group-title {
    padding-left: 0;
    color: $shade3 !important;
    font: $small-text-out;
    opacity: 0.6;
    text-transform: uppercase;
}

.mv-layout-header-right {
    display: none;
}

#menu-search-bar {
    display: block;
}

.mv-user-profile {
    border: 2px solid $primary !important;
}

@media (max-width: 1400px) {
    #mv-right-sider {
        display: none !important;
    }
    .ant-layout-content {
        margin-top: 80px !important;
    }
    .mv-layout-header-right {
        display: flex !important;
        right: 0 !important;
        left: unset !important;
        width: auto !important;
        gap: 16px;
    }
}

@media (max-width: 860px) {
    #mv-left-sider {
        display: none !important;
    }
    #menu-search-bar {
        display: none !important;
    }
    .trigger {
        display: flex !important;
    }
}
