.mv-music-player  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    .mv-song {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        .mv-song-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                font: $big-text;
            }
            span {
                font: $text;
                opacity: 0.4;
            }
            h4, span {
                text-align: center;
                margin: 0;
                color: $light;
            }
        }
    }
}

.rotate-animation {
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.mv-playing-now {
    border: 2px solid $primary;
}