.mv-song-card {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(207, 209, 222, 0.4);
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        border: 2px solid $primary;
        .mv-song-card-details {
            background: rgba(46, 48, 58, 0.6);
            span, h4 {
                color: $primary;
            }
        }
    }
    img {
        object-fit: fill;
        width: 100%;
        z-index: 1;
    }
    .mv-song-card-details {
        padding: 16px 8px;
        background: rgba(46, 48, 58, 0.3);
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        h4, span {
            text-align: center;
        }
    }
}

