@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
.mv-auth-layout {
  height: 100vh;
  display: flex;
  background: #2E303A;
  width: 100%;
}
.mv-auth-layout .mv-auth-left {
  width: 30%;
  height: 100%;
  max-width: 531px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mv-auth-layout .mv-auth-left .mv-auth-content {
  display: flex;
  width: 300px;
  align-items: center;
  flex-direction: column;
}
.mv-auth-layout .mv-auth-left .mv-auth-content h1 {
  margin-bottom: 16px;
}
.mv-auth-layout .mv-auth-left .mv-auth-content p {
  text-align: center;
  margin-bottom: 32px;
}
.mv-auth-layout .mv-auth-left .mv-auth-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mv-auth-layout .mv-auth-right {
  width: 100%;
  height: 100%;
}

.mv-page-layout {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: auto;
}
.mv-page-layout .mv-page-cta {
  position: absolute;
  top: 0;
  right: 32px;
  height: 80px;
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (max-width: 700px) {
  .mv-auth-layout .mv-auth-left {
    max-width: 100% !important;
    width: 100%;
  }
  .mv-auth-layout .mv-auth-right {
    display: none !important;
  }
}
@media (max-width: 1400px) {
  .mv-page-layout .mv-page-cta {
    position: absolute;
    top: 80px;
    right: 32px;
  }
}
.ant-input-affix-wrapper {
  border-radius: 50px;
  color: rgba(207, 209, 222, 0.2);
  background-color: rgba(63, 70, 96, 0.4);
  border: 1px solid rgba(207, 209, 222, 0.4);
  padding: 4px 16px;
}
.ant-input-affix-wrapper input {
  background: transparent;
  caret-color: #F7F9FF;
  color: #F7F9FF;
  font: 400 14px "Palanquin", sans-serif;
}
.ant-input-affix-wrapper input::-moz-placeholder {
  color: rgba(207, 209, 222, 0.4);
}
.ant-input-affix-wrapper input:-ms-input-placeholder {
  color: rgba(207, 209, 222, 0.4);
}
.ant-input-affix-wrapper input::placeholder {
  color: rgba(207, 209, 222, 0.4);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
  -webkit-text-fill-color: #F7F9FF;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.ant-input-prefix {
  margin-right: 8px;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background: rgba(63, 70, 96, 0.4);
  border-color: #ff4d4f;
}

.mv-song-card {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(207, 209, 222, 0.4);
  transition: 0.3s;
  cursor: pointer;
}
.mv-song-card:hover {
  border: 2px solid #598EF7;
}
.mv-song-card:hover .mv-song-card-details {
  background: rgba(46, 48, 58, 0.6);
}
.mv-song-card:hover .mv-song-card-details span, .mv-song-card:hover .mv-song-card-details h4 {
  color: #598EF7;
}
.mv-song-card img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  z-index: 1;
}
.mv-song-card .mv-song-card-details {
  padding: 16px 8px;
  background: rgba(46, 48, 58, 0.3);
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.mv-song-card .mv-song-card-details h4, .mv-song-card .mv-song-card-details span {
  text-align: center;
}

.mv-grid-display {
  display: flex;
  gap: 16px;
  overflow: auto;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mv-grid-display::-webkit-scrollbar {
  display: none;
}
.mv-grid-display .mv-song-card {
  height: 200px;
  width: 150px;
  min-width: 150px;
}

.ant-table, .ant-table-thead > tr > th {
  background: transparent;
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  background-color: transparent;
  border-color: rgba(207, 209, 222, 0.4);
  color: #F7F9FF;
}

.ant-pagination-item-active {
  background-color: transparent;
  border-color: #598EF7;
  opacity: 0.6;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link {
  color: #F7F9FF;
  opacity: 0.2;
  cursor: not-allowed;
}

.ant-pagination-item-active:focus-visible,
.ant-pagination-item-active:hover {
  border-color: #598EF7;
  opacity: 1;
}

.ant-table-thead > tr > th {
  border: none;
  color: #F7F9FF;
  opacity: 0.4;
  text-transform: uppercase;
  font: 400 14px "Palanquin", sans-serif;
  padding: 0 0 0 16px;
}

.ant-table-tbody > tr > td {
  border: none;
  color: #F7F9FF;
  font: 400 14px "Palanquin", sans-serif;
}
.ant-table-tbody > tr > td::before {
  position: absolute;
  margin-left: -16px;
  bottom: -10px;
  z-index: 2;
  width: 100%;
  transition: box-shadow 0.3s;
  content: "";
  pointer-events: none;
  border: 0.5px solid;
  border-color: rgba(207, 209, 222, 0.4);
}
.ant-table-tbody > tr > td:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.ant-table-tbody > tr > td:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.ant-table table {
  border-spacing: 0 20px;
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0px;
  height: 1.6em;
  background-color: rgba(0, 0, 0, 0.06);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: "";
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: transparent;
  background: #3F4660;
}

.ant-table-tbody > tr > td,
.ant-table-thead > tr > th,
.ant-table tfoot > tr > td,
.ant-table tfoot > tr > th {
  padding: 8px 16px;
}

.ant-table-tbody > tr > td .ant-avatar {
  min-width: 32px;
}

.mv-collection-card {
  height: 200px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: none;
  cursor: pointer;
}
.mv-collection-card:hover {
  border: 2px solid #598EF7;
}
.mv-collection-card:hover .mv-collection-details {
  background: rgba(46, 48, 58, 0.6);
}
.mv-collection-card:hover .mv-collection-details h4 {
  color: #598EF7;
}
.mv-collection-card .mv-collection-details {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(46, 48, 58, 0.47);
}
.mv-collection-card .mv-collection-details h4 {
  font: 900 16px "Montserrat", sans-serif;
  color: #F7F9FF;
  text-align: center;
}
.mv-collection-card img {
  width: 50%;
  height: 50%;
}

.ant-drawer-content {
  background: #2E303A;
}
.ant-drawer-content .ant-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 32px;
}
.ant-drawer-content .ant-menu:after,
.ant-drawer-content .ant-menu:before {
  display: none;
  content: "";
}

.ant-drawer-header {
  min-height: 80px;
  border-color: rgba(207, 209, 222, 0.4);
}
.ant-drawer-header .ant-drawer-close {
  color: #F7F9FF;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: transparent;
}

.trigger {
  display: none;
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: #F7F9FF;
}

.trigger:hover {
  color: #598EF7;
}

.logo {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F7F9FF;
  height: 80px;
  left: 0;
  width: 100%;
  padding: 0px 32px;
}

.navigation {
  display: flex;
  gap: 8px;
  color: #F7F9FF;
}

.site-layout .site-layout-background {
  background: transparent;
}

.ant-layout.ant-layout-has-sider {
  height: 100vh;
  overflow: hidden;
}

.mv-layout-header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ant-layout {
  background: #2E303A;
}

.ant-layout-sider {
  flex: 0 0 320px !important;
  max-width: 320px !important;
  min-width: 320px !important;
  width: 320px !important;
  padding: 0px 32px;
  background: #2E303A;
}

.ant-menu {
  background: transparent;
}
.ant-menu .ant-menu-item {
  border-radius: 10px;
  padding: 0px !important;
  color: #F7F9FF;
}
.ant-menu .ant-menu-item:hover {
  color: #598EF7;
  opacity: 0.6;
}
.ant-menu .ant-menu-item:hover .ant-menu-title-content a {
  color: #598EF7;
}
.ant-menu .ant-menu-item-selected {
  background-color: transparent !important;
}

#mv-right-sider {
  display: block;
  border-left: 1px solid rgba(207, 209, 222, 0.4);
}
#mv-right-sider .ant-layout-sider-children {
  padding-top: 104px;
}

#mv-left-sider {
  display: block;
  border-right: 1px solid rgba(207, 209, 222, 0.4);
}
#mv-left-sider .ant-layout-sider-children {
  padding-top: 104px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mv-left-sider, #mv-right-sider {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#mv-left-sider::-webkit-scrollbar, #mv-right-sider::-webkit-scrollbar {
  display: none;
}
#mv-left-sider .logo, #mv-right-sider .logo {
  border-bottom: 1px solid rgba(207, 209, 222, 0.4);
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
.ant-menu-dark .ant-menu-item-selected .anticon,
.ant-menu-dark .ant-menu-item-selected .anticon + span,
.ant-menu-dark .ant-menu-item-selected > a,
.ant-menu-dark .ant-menu-item-selected > a:hover,
.ant-menu-dark .ant-menu-item-selected > span > a,
.ant-menu-dark .ant-menu-item-selected > span > a:hover {
  color: #598EF7;
}

.ant-layout-header {
  height: 80px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.site-layout {
  overflow: auto;
  position: relative;
}

.ant-menu-item-group-title {
  padding-left: 0;
  color: #A3A5B2 !important;
  font: 600 12px "Montserrat", sans-serif;
  opacity: 0.6;
  text-transform: uppercase;
}

.mv-layout-header-right {
  display: none;
}

#menu-search-bar {
  display: block;
}

.mv-user-profile {
  border: 2px solid #598EF7 !important;
}

@media (max-width: 1400px) {
  #mv-right-sider {
    display: none !important;
  }
  .ant-layout-content {
    margin-top: 80px !important;
  }
  .mv-layout-header-right {
    display: flex !important;
    right: 0 !important;
    left: unset !important;
    width: auto !important;
    gap: 16px;
  }
}
@media (max-width: 860px) {
  #mv-left-sider {
    display: none !important;
  }
  #menu-search-bar {
    display: none !important;
  }
  .trigger {
    display: flex !important;
  }
}
.mv-small-text {
  color: #F7F9FF;
  font: 400 14px "Palanquin", sans-serif;
}

.mv-small-text-out {
  color: #A3A5B2;
  font: 600 12px "Montserrat", sans-serif;
  opacity: 0.6;
  text-transform: uppercase;
}

.mv-extra-small-text-out {
  color: #598EF7;
  font: 600 12px "Palanquin", sans-serif;
  opacity: 0.6;
  text-transform: uppercase;
}

.mv-big-title {
  color: #F7F9FF;
  font: 900 32px "Montserrat", sans-serif;
  text-transform: uppercase;
}

.mv-text {
  color: #CFD1DE;
  font: 400 16px "Palanquin", sans-serif;
}

.mv-text-highlight {
  color: #598EF7;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.mv-small-title {
  font: 900 16px "Montserrat", sans-serif;
  color: #F7F9FF;
}

.ant-btn-background-ghost.ant-btn-primary {
  color: #598EF7;
  border-color: #598EF7;
  text-shadow: none;
}

.ant-btn {
  border-radius: 50px;
  font: 400 16px "Palanquin", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-btn span:last-child {
  margin-bottom: 4px;
}

.ant-btn.ant-btn-background-ghost:focus,
.ant-btn.ant-btn-background-ghost:hover {
  color: #598EF7;
  border-color: #598EF7;
  opacity: 0.8;
  background-color: rgba(63, 70, 96, 0.2);
}

.ant-btn-link {
  color: #598EF7;
  opacity: 1;
}
.ant-btn-link:hover {
  color: #598EF7;
  opacity: 0.8;
}

.ant-divider {
  border-color: rgba(207, 209, 222, 0.4);
}

.ant-avatar {
  border: 1px solid rgba(207, 209, 222, 0.4);
  transition: 0.3s;
}
.ant-avatar:hover {
  border: 2px solid #598EF7;
  background-color: rgba(63, 70, 96, 0.1);
}

.mv-unselected-icon {
  height: 20px;
  width: 20px;
  min-width: 20px;
  border: 1px solid rgba(207, 209, 222, 0.4);
  border-radius: 50%;
}

.ant-dropdown-menu {
  background: #3F4660;
  border: 1px solid rgba(207, 209, 222, 0.4);
  border-radius: 10px;
  padding: 4px;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-active,
.ant-dropdown-menu-item.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-item-active,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-submenu-title:hover {
  background-color: rgba(207, 209, 222, 0.4);
  border-radius: 10px;
}

body {
  background: #2E303A;
}

.mv-music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.mv-music-player .mv-song {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.mv-music-player .mv-song .mv-song-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mv-music-player .mv-song .mv-song-name h4 {
  font: 700 20px "Palanquin", sans-serif;
}
.mv-music-player .mv-song .mv-song-name span {
  font: 400 16px "Palanquin", sans-serif;
  opacity: 0.4;
}
.mv-music-player .mv-song .mv-song-name h4, .mv-music-player .mv-song .mv-song-name span {
  text-align: center;
  margin: 0;
  color: #F7F9FF;
}

.rotate-animation {
  -webkit-animation: rotation 6s infinite linear;
          animation: rotation 6s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.mv-playing-now {
  border: 2px solid #598EF7;
}

.ant-list-split .ant-list-item {
  border-bottom: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 4px;
}
.ant-list-split .ant-list-item .anticon {
  color: #F7F9FF;
}
.ant-list-split .ant-list-item:hover {
  background-color: #3F4660;
  border-radius: 50px;
}
.ant-list-split .ant-list-item:hover .ant-avatar {
  border: 2px solid #598EF7;
}

.ant-list-item-meta-title {
  color: #F7F9FF;
  font: 400 14px "Palanquin", sans-serif;
  text-transform: capitalize;
}

.mv-selected-music {
  background-color: #3F4660;
  border-radius: 50px;
}
.mv-selected-music .ant-avatar {
  border: 2px solid #598EF7;
}
.mv-selected-music .anticon {
  color: #598EF7 !important;
}
.mv-selected-music .ant-list-item-meta-title {
  color: #598EF7 !important;
}

.mv-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.mv-controls .anticon {
  color: #598EF7;
  cursor: pointer;
}

.mv-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mv-auth-layout .mv-auth-left .mv-auth-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}/*# sourceMappingURL=App.css.map */